*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }


body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    }

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* nav */

.nav-container{
    background-color: rgb(3, 75, 3);
    /* margin-top: 17px; */
    padding: 13px;
    font-size: 1.1rem;
}
.nav-bar {
    margin: auto;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu{
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 19%;
}
.main-menu a ,.nav-bar a h2{
    color: #fff;
}
.nav-bar img{
    position: relative;
}
.green-btn{
    color: #fff;
    padding: 11px 31px;
    background:rgb(3, 75, 3);
    border-color: white;
    font-size: 0.91rem;
    border-radius: .35rem;
    margin-right: 10px;
}
.red-btn{
    color: #fff;
    padding: 11px 31px;
    background:#be3144;
    border-color: #be3144;
    font-size: .91rem;
    border-radius: .35rem;
}

/* showcase */

.showcase-container{
    background: url(img/slider-3.jpg) no-repeat center center/cover;
    position: relative;
    overflow: hidden;
}
.showcase{
    width: 60%;
    text-align: center;
    margin: auto;
    color:#fff;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}
.showcase-content{
    z-index: 20;
}
.showcase-content input{
        padding: 14px 26px;
        width: 90%;
        border: none;
        border-radius: .8rem;
        font-size: .95rem;
}
.showcase p{
    margin: 20px;
}

.showcase::after{
    content: '';
    background-color:#000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

/* map */

.map {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.map a{
    color: #000;
}
.map i{
    margin: 20px 10px;
}
/* slider */

.main-box{
    display: flex;
    max-height: 400px;
    width: 75%;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
   
}
.cards{
   margin: 10px;
}
.arrow-prev{
    position: absolute;
    top: 54%;
    left: 8%;
}
.arrow-next{
    position: absolute;
    top:54%;
    right:8%;
}
.container-slide{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.arrow-prev i:hover,.arrow-next i:hover{
    opacity: 0.7;
    cursor: pointer;
}

.container-slide h1{
    text-align: center;
    margin: 30px;
}
.image{
    overflow: hidden;
    border: 5px solid #000;

}
.image img{
    width: 100%;
    height: 100%;
}

/* about */

.about-container{
    background: url(img/about.jpg) no-repeat center center/cover;
    position: relative;
    overflow: hidden;
}
.about{
    width: 76%;
    margin: auto;
    color:#fff;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}
.about-content{
    z-index: 20;
}
.about p{
    margin-bottom: 15px ;
}
.about h2{
    margin-top: 50px;
}
.about button{
    padding: 10px 23px;
    border: none;
    background: rgb(3, 209, 3);
    color: #fff;
    font-size: 1.1rem;
}
.about::after{
    content: '';
    background-color:#000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}